Delivery/*
Resources/*Binaries/*
CI/CakeScripts/tools/*
CI/CakeScripts/TestResult.xml
CI/WixInstaller/packages/*
!CI/CakeScripts/tools/packages.config
CI/WixInstaller/FiscalPrinterSimulatorInstaller/obj/*
CI/WixInstaller/FiscalPrinterSimulatorInstaller/bin/*
CI/WixInstaller/.vs/*