<?xml version="1.0" encoding="UTF-8"?>

<!--TODO : 
1. Custom dialog to set RootPath INSTALLDIR

CONTENT of Instalator:
- Windows Service
- Windows Client 
- Diagnostic tool
-->

<?define ResourcesDir="..\..\..\Resources\" ?>

<?if $(var.Platform) = x64?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif?>

<?define RegistryPath="Software\[Manufacturer]\[ProductName]" ?>
<?define GraphicsResourcesDir="$(var.ResourcesDir)Graphics\" ?>
<?define BinariesResourcesDir="$(var.ResourcesDir)Binaries\" ?>

<?define LicenceFileBase="$(var.ResourcesDir)Licences\Licence" ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Codepage="1252" Id="*" Name="Fiscal Printer Simulator $(var.Platform)" Language="1033" Version="1.0.0.0" Manufacturer="Michal Wojcik" UpgradeCode="95aadacf-8276-40a1-8abb-ecb9123b408a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Icon Id="win_desktop_app.ico" SourceFile="$(var.GraphicsResourcesDir)win_icon.ico"/>
    <UIRef Id="WixUI_Mondo"/>
    <MediaTemplate EmbedCab="yes" />
    <FeatureGroupRef Id="feature_group_simulator_windows_service"/>

    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDialogOverwritten">1</Publish>
      <Publish Dialog="LicenseAgreementDialogOverwritten" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDialogOverwritten" Control="Next" Event="NewDialog" Value="SetupTypeDlg">LicenseAcceptedOverwritten = "1" AND NOT OLDER_VERSION_FOUND</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <WixVariable Id="WixUIBannerBmp" Value="$(var.GraphicsResourcesDir)installationHeader.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.GraphicsResourcesDir)WelcomeInstallBitmap.png" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.launchAppAfterInstall)"/>
    <Property Id="ARPPRODUCTICON" Value="win_desktop_app.ico" />

    <CustomAction Id="LaunchApplication" FileKey="file_FPSimulator_DesktopClientApp" ExeCommand="" Return="asyncNoWait"/>
  </Product>

  <!-- Catalogs structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Fiscal Printer Simulator">
          <Directory Id="FP_BIN_DIR" Name="bin"/>
          <Directory Id="FP_CONFIG_DIR" Name="config"/>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramMenuFolder" Name="ProgramMenu"/>
    </Directory>

    <SetDirectory Id="INSTALLFOLDER" Value="[ALREADYINSTALLED]"> <![CDATA[ALREADYINSTALLED]]> </SetDirectory>
  </Fragment>

  <!-- Fiscal Printer Simulator Desktop App Feature Definition-->
  <Fragment>
    <FeatureGroup Id="feature_group_simulator_windows_service">
      <Feature Id="feature_main" Title="!(loc.descMainAppNodeTitle)" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descMainAppNode)" ConfigurableDirectory="INSTALLFOLDER">
        <Feature Id="feature_app_desktop" Title="!(loc.descDesktopAppNodeTitle)" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDesktopAppNode)">
          <ComponentGroupRef Id="compGroup_DesktopApp"/>
        </Feature>
        <Feature Id="feature_simulator_windows_service" Title="!(loc.descWinServiceAppNodeTitle)" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descWinServiceAppNode)">
          <ComponentGroupRef Id="compGroup_simulator_windows_service"/>
        </Feature>
        <Feature Id="feature_diagnostic_tool" Title="!(loc.descDiagnosticToolNodeTitle)" Level="2" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDiagnosticToolNode)">
          <ComponentGroupRef Id="compGroup_DiagnosticTool"/>
        </Feature>
      </Feature>
    </FeatureGroup>
  </Fragment>

  <!--Simulator Windows Service Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_simulator_windows_service" Directory="FP_BIN_DIR">
      <Component>
        <RegistryValue Root='HKCU' Key='$(var.RegistryPath)' Name='WindowsService' Type='integer' Value='0' KeyPath='yes' />
      </Component>
      <Component>
        <File Name='Newtonsoft.Json.dll' Source='$(var.BinariesResourcesDir)Newtonsoft.Json.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Name='Fleck.dll' Source='$(var.BinariesResourcesDir)Fleck.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Name='BaseFiscalPrinterSimulatorLibraries.dll' Source='$(var.BinariesResourcesDir)BaseFiscalPrinterSimulatorLibraries.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Name='ThermalFiscalPrinterSimulatorLibraries.dll' Source='$(var.BinariesResourcesDir)ThermalFiscalPrinterSimulatorLibraries.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Id='file_FPSimulator_WebsocketWindowsService' Name='FiscalPrinterSimulatorService.exe' Source='$(var.BinariesResourcesDir)FiscalPrinterSimulatorService.exe' KeyPath='yes'/>
        <ServiceInstall Id='serviceInstall_WebsocketWindowsService' Type='ownProcess' Name='FiscalPrinterSimulatorService' DisplayName='Fiscal Printer Simulator' Description='Fiscal Printer Websocket Based Simulator. Helps to develop with POS likely applications.' Start='auto' Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" ErrorControl="normal" Arguments=" /start FiscalPrinterSimulatorService"/>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="FiscalPrinterSimulatorService" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>



  <!--Simulator Desktop Application Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DesktopApp" Directory="FP_BIN_DIR">
      <Component>
        <File Id='file_FPSimulator_DesktopClientApp' Name='FiscalPrinterSimulatorClient.exe' Source='$(var.BinariesResourcesDir)Client\Fiscal Printer Simulator Client 0.1.0.exe' KeyPath='yes'/>
        <Shortcut Id='desktopShortCut_FPSimulator_ClientApp' Icon='win_desktop_app.ico' Directory='DesktopFolder' Name='Fiscal Printer Simulator' Advertise='yes' WorkingDirectory='FP_BIN_DIR'/>
        <Shortcut Id='menuShortCut_FPSimulator_ClientApp' Icon='win_desktop_app.ico' Directory='ProgramMenuFolder' Name='Fiscal Printer Simulator' Advertise='yes' WorkingDirectory='FP_BIN_DIR'/>
      </Component>
    </ComponentGroup>
  </Fragment>



  <!--Simulator Windows Service Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DiagnosticTool" Directory="FP_BIN_DIR">
      <Component>
        <RemoveFolder Id='INSTALLFOLDER' On='uninstall'/>
        <RegistryValue Root='HKCU' Key='$(var.RegistryPath)' Name='DiagnosticTool' Type='integer' Value='0' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  </Fragment>


  <!--EULA Custom Dialog-->
  <Fragment>
    <UI>
      <Dialog Id="LicenseAgreementDialogOverwritten" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
        <Control Id="LicenseAcceptedOverwrittenCheckBox" Type="CheckBox" X="20" Y="207" Width="330" Height="18" CheckBoxValue="1" Property="LicenseAcceptedOverwritten" Text="!(loc.LicenseAgreementDlgLicenseAcceptedCheckBox)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
          <Condition Action="disable">
            <![CDATA[ LicenseAcceptedOverwritten <> "1" ]]>
          </Condition>
          <Condition Action="enable">LicenseAcceptedOverwritten = "1"</Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
        <Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="140" Sunken="yes" TabSkip="no">
          <Text SourceFile="$(var.LicenceFileBase)-!(loc.culture).rtf" />
        </Control>
        <Control Id="Print" Type="PushButton" X="112" Y="243" Width="56" Height="17" Text="!(loc.WixUIPrint)">
          <Publish Event="DoAction" Value="WixUIPrintEula">1</Publish>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgTitle)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>