<?xml version="1.0" encoding="UTF-8"?>

<!-- 
CONTENT of Instalator:
- Windows Service
- Windows Client 
- Diagnostic tool
-->

<?include Variables.wxi?>



<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Codepage="1252" Id="*" Name="Fiscal Printer Simulator $(var.ProductBitDescription) $(var.Version)" Language="1033" Version="$(var.Version)" Manufacturer="Michal Wojcik" UpgradeCode="95aadacf-8276-40a1-8abb-ecb9123b408a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Icon Id="win_desktop_app.ico" SourceFile="$(var.GraphicsResourcesDir)win_icon.ico"/>
    <UIRef Id="WixUI_Mondo"/>
    <UIRef Id="CustomUIDefinition"/>
    <MediaTemplate EmbedCab="yes" />
    <FeatureGroupRef Id="feature_group_simulator_windows_service"/>

    <WixVariable Id="WixUIBannerBmp" Value="$(var.GraphicsResourcesDir)installationHeader.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.GraphicsResourcesDir)WelcomeInstallBitmap.png" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.launchAppAfterInstall)"/>
    <Property Id="ARPPRODUCTICON" Value="win_desktop_app.ico" />

    <CustomAction Id="LaunchApplication" FileKey="file_FPSimulator_DesktopClientApp" ExeCommand="" Return="asyncNoWait"/>
    <CustomAction Id='setupService' Directory='INSTALLFOLDER' Execute='deferred' Impersonate='no' ExeCommand='cmd.exe \c sc failure \"${varserviceInstaller.ServiceName}\" reset= 0 actions= restart/{$(var.ServiceRestartTime)}/restart/{$(var.ServiceRestartTime)}/restart/{$(var.ServiceRestartTime)}' Return='check' />
  </Product>

  <Fragment>
    <InstallExecuteSequence>
        <Custom Action='setupService' After='InstallFinalize'/>
    </InstallExecuteSequence>
  </Fragment>
  <!-- Catalogs structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Fiscal Printer Simulator">
          <Directory Id="FP_BIN_DIR" Name="bin">
            <Directory Id="FP_BIN_TRANSLATIONS_DIR" Name="Translations"/>
          </Directory>
          <Directory Id="FP_CONFIG_DIR" Name="config"/>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramMenuFolder" Name="ProgramMenu"/>
    </Directory>

    <SetDirectory Id="INSTALLFOLDER" Value="[ALREADYINSTALLED]"> <![CDATA[ALREADYINSTALLED]]> </SetDirectory>
  </Fragment>

  <!-- Fiscal Printer Simulator Desktop App Feature Definition-->
  <Fragment>
    <FeatureGroup Id="feature_group_simulator_windows_service">
        <Feature Id="feature_simulator_windows_service" Title="!(loc.descWinServiceAppNodeTitle)" InstallDefault="local" Absent="disallow" AllowAdvertise="no" Description="!(loc.descWinServiceAppNode)">
          <ComponentGroupRef Id="compGroup_simulator_windows_service"/>
          <Feature Id="feature_app_desktop" Title="!(loc.descDesktopAppNodeTitle)" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDesktopAppNode)">
            <ComponentGroupRef Id="compGroup_DesktopApp"/>
          </Feature>
          <Feature Id="feature_app_desktop_translations"  Title="!(loc.descDesktopAppTranslationsMainNodeTitle)" Absent="disallow" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDesktopAppTranslationsMainNode)">
            <ComponentGroupRef Id="compGroup_DesktopAppTranslationsRoot" />
            <Feature Id="feature_app_desktop_translationsEN" Title="!(loc.descDesktopAppTranslationsENNodeTitle)" Absent="disallow" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDesktopAppTranslationsENNode)">
              <ComponentGroupRef Id="compGroup_DesktopAppTranslationsEN" />
            </Feature>
            <Feature Id="feature_app_desktop_translationsPL"  Title="!(loc.descDesktopAppTranslationsPLNodeTitle)" InstallDefault="local" AllowAdvertise="yes" Description="!(loc.descDesktopAppTranslationsPLNode)" Level="2" TypicalDefault="advertise">
              <ComponentGroupRef Id="compGroup_DesktopAppTranslationsPL"/>
            </Feature>
          </Feature>
        </Feature>
        <Feature Id="feature_diagnostic_tool" Title="!(loc.descDiagnosticToolNodeTitle)" Level="2" InstallDefault="local" AllowAdvertise="no" Description="!(loc.descDiagnosticToolNode)">
          <ComponentGroupRef Id="compGroup_DiagnosticTool"/>
        </Feature>
    </FeatureGroup>
  </Fragment>

  <!--Simulator Windows Service Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_simulator_windows_service" Directory="FP_BIN_DIR">
      <Component>
        <RegistryValue Root='HKCU' Key='$(var.RegistryPath)' Name='WindowsService' Type='integer' Value='0' KeyPath='yes' />
      </Component>
      <!-- <Component>
        <File Name='Newtonsoft.Json.dll' Source='$(var.BinariesResourcesDir)Newtonsoft.Json.dll' KeyPath='yes' />
      </Component> -->
      <!-- <Component>
        <File Name='Fleck.dll' Source='$(var.BinariesResourcesDir)Fleck.dll' KeyPath='yes' />
      </Component> -->
      <Component>
        <File Name='BaseFiscalPrinterSimulatorLibraries.dll' Source='$(var.BinariesResourcesDir)BaseFiscalPrinterSimulatorLibraries.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Name='ThermalFiscalPrinterSimulatorLibraries.dll' Source='$(var.PluginsResourcesDir)ThermalFiscalPrinterSimulatorLibraries.dll' KeyPath='yes' />
      </Component>
      <Component>
        <File Id='file_FPSimulator_WebsocketWindowsService' Name='$(var.FiscalPrinterSimulatorServiceName).exe' Source='$(var.BinariesResourcesDir)$(var.FiscalPrinterSimulatorServiceName).exe' KeyPath='yes'/>
        <ServiceInstall Id='serviceInstall_WebsocketWindowsService' Type='ownProcess' Name='$(var.FiscalPrinterSimulatorServiceName)' DisplayName='Fiscal Printer Simulator' Description='Fiscal Printer Websocket Based Simulator. Helps to develop with POS likely applications.' Start='auto' Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" ErrorControl="normal" Arguments=" /start $(var.FiscalPrinterSimulatorServiceName)"/>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="$(var.FiscalPrinterSimulatorServiceName)" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>



  <!--Simulator Desktop Application Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DesktopApp" Directory="FP_BIN_DIR">
      <Component>
        <File Id='file_FPSimulator_DesktopClientApp' Name='FiscalPrinterSimulatorClient.exe' Source='$(var.BinariesResourcesDir)Client\Fiscal Printer Simulator Client $(var.Version).exe' KeyPath='yes'/>
        <Shortcut Id='desktopShortCut_FPSimulator_ClientApp' Icon='win_desktop_app.ico' Directory='DesktopFolder' Name='Fiscal Printer Simulator' Advertise='yes' WorkingDirectory='FP_BIN_DIR'/>
        <Shortcut Id='menuShortCut_FPSimulator_ClientApp' Icon='win_desktop_app.ico' Directory='ProgramMenuFolder' Name='Fiscal Printer Simulator' Advertise='yes' WorkingDirectory='FP_BIN_DIR'/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Simulator Desktop Application Translations Root Component-->
  <Fragment>
    <ComponentGroup Id="compGroup_DesktopAppTranslationsRoot" Directory="FP_BIN_DIR">
      <Component Guid="70BF44FB-BE0C-4792-B179-9F1CA99A817C" Id="comp_ClearTranslationDir">
        <RemoveFolder Id="FP_BIN_TRANSLATIONS_DIR" On="both"/>
        <CreateFolder Directory="FP_BIN_DIR"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Simulator Desktop Application Translations EN Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DesktopAppTranslationsEN" Directory="FP_BIN_TRANSLATIONS_DIR">
      <Component>
        <File Id='file_FPSimulator_DesktopClientAppTranslationEN' Name='translations-en.json' Source='$(var.TranslationsResourcesDir)translations-en.json' KeyPath='yes'/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
  
  <!--Simulator Desktop Application Translations PL Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DesktopAppTranslationsPL" Directory="FP_BIN_TRANSLATIONS_DIR">
      <Component>
        <File Id='file_FPSimulator_DesktopClientAppTranslationPL' Name='translations-pl.json' Source='$(var.TranslationsResourcesDir)translations-pl.json' KeyPath='yes'/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Diagnostic Tool Components-->
  <Fragment>
    <ComponentGroup Id="compGroup_DiagnosticTool" Directory="FP_BIN_DIR">
      <Component>
        <RemoveFolder Id='INSTALLFOLDER' On='uninstall'/>
        <RegistryValue Root='HKCU' Key='$(var.RegistryPath)' Name='DiagnosticTool' Type='integer' Value='0' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  </Fragment> 
</Wix>